div#body {
    width: 740px;
    margin: 20px auto;
}


div.text {
    border-radius: 3px;
    background: #F3F3F3 none repeat scroll 0% 0%;
    border: 1px dotted #BBB;
    font-family: "Monaco", "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", "Lucida Console", "Helvetica Neue", monospace;
    padding: 7px 8px 5px;
    font-size: 10pt;
    line-height: 1.3em;
}

div.index {
    color: #323099;
    font-family: "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", "Lucida Console", "Helvetica Neue", monospace;
    font-size: 10pt;
    text-align: right;
}

div.left-block {
     float: left;
     border-radius: 3px;
     background: #F3F3F3;
     padding: 7px 8px 5px;
     border: 1px dotted #BBB;
     width: 350px;
     height: 250px;
 }
div.right-block {
    float: right;
    border-radius: 3px;
    background: #F3F3F3;
    padding: 7px 8px 5px;
    border: 1px dotted #BBB;
    width: 350px;
    height: 250px;
}
div.hello{
    color: #bbbbbb;
    font-family: "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", "Lucida Console", "Helvetica Neue", monospace;
    font-size: 9pt;
}

ul.errors{
    color: #bb2f15;
    font-size: 10pt;
}
