div#body {
    width: 740px;
    margin: 20px auto;
}

div.text {
    border-radius: 3px;
    background: #F3F3F3 none repeat scroll 0% 0%;
    border: 1px dotted #BBB;
    font-family: "Monaco", "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", "Lucida Console", "Helvetica Neue", monospace;
    padding: 7px 8px 5px;
    font-size: 10pt;
    line-height: 1.3em;
}

div.index {
    color: #323099;
    font-family: "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", "Lucida Console", "Helvetica Neue", monospace;
    font-size: 10pt;
    text-align: right;
}

div.right-block {
    clear:right;
    margin-left: 10px;
    width: 300px;
    height: 300px;
}